h1 {
  color: maroon;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: blue;
  text-decoration: underline;
}

body {
  width: 500px;
  margin: 25px auto;
  background-color: white;
  padding: 25px 75px;
  border-radius: 10px;
}

h1:hover {
  text-decoration: underline;
}

html {
  background-color: grey;
}
